<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customCss">
	<link th:href="@{/user/plugins/owl-carousel/owl.carousel.min.css}" rel='stylesheet' media='screen'>
	<link th:href="@{/user/plugins/owl-carousel/owl.theme.default.min.css}" rel='stylesheet' media='screen'>
			<link th:href="@{/user/css/reviewList.css}" rel="stylesheet">
		<link th:href="@{/user/css/reviewReport.css}" rel="stylesheet">
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet'>
</th:block>


	
	<th:block layout:fragment="customPageTitle">
	<!-- 컨트롤러로 title 변수로 model.att... 지정 가능  -->
		<!-- 		
		<section class="page-title">
			<div class="page-title-img bg-img bg-overlay-darken" style="background-image: url(/user/img/pages/page-title-bg11.jpg);">
				<div class="container">
					<div class="row align-items-center justify-content-center" style="height: 200px;">
						<div class="col-lg-6">
							<div class="page-title-content">
								<div class="title-border">
									<h2 class="text-uppercase text-white font-weight-bold">리뷰목록</h2>
								</div>
								<p class="text-white mb-0"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> 
		-->
	</th:block>
	
	<th:block layout:fragment="customPageSection">
		<!-- 상단 이미지 스크린 start -->
<div class="text-center"> <!-- 부모 요소를 가운데 정렬 -->
    <div th:each="tourInformation : ${TourInformation}" style="margin-bottom: 20px; margin-top: 50px;"> <!-- 위쪽 마진 추가 -->
        <p style="font-weight: bold; font-size: 15px; color: black; margin-bottom: 10px;">콘텐츠 ID: <span style="font-size: 15px;" th:text="${tourInformation.contentid}"></span></p>
        <div style="margin-bottom: 20px;"></div> <!-- 두 개의 <p> 요소 사이에 20px의 마진 추가 -->
        <p style="font-weight: bold; font-size: 20px; color: black; margin-bottom: 30px;"><span style="font-size: 20px;" th:text="${tourInformation.title}"></span></p>
		<img th:src="${tourInformation.firstimage}"
		onerror="this.onerror=null;this.src='/user/img/존재하지않는이미지.jpg';" alt="image">
    </div>
</div>


<!-- ====================================
———	CITY SECTION
===================================== -->
		<section class="py-10">
			<div class="container">
				<div class="mb-7">
					<div id="destination">
						<div class="mb-0">
							<!-- 탭 목록 start -->
							<ul class="nav nav-tabs destination-tabs" id="destinationTab" role="tablist">
		                      <li class="nav-item">
		                            <!-- 수정: 상세정보 탭을 활성화합니다. -->
		                            <a class="nav-link active" id="overView-tab" data-bs-toggle="tab" href="#overView" role="tab" aria-controls="overView" aria-selected="true">상세정보</a>
		                        </li>
		                        <li class="nav-item">
		                            <!-- 수정: 후기 탭입니다. -->
		                            <a class="nav-link" id="tourGuide-tab" data-bs-toggle="tab" href="#tourGuide" role="tab" aria-controls="tourGuide" aria-selected="false">후기</a>
		                        </li>
	
								<li class="nav-item ms-md-auto">
									<ul class="list-unstyled d-flex justify-content-center mb-0">
										<li class="me-3">
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
												<i class="fab fa-facebook-f" aria-hidden="true"></i>
											</a>
										</li>
	
										<li class="me-3">
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary"> 
												<i class="fab fa-twitter" aria-hidden="true"></i>
											</a>
										</li>
										<li class="me-3">
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary"> 
												<i class="fab fa-google-plus-g" aria-hidden="true"></i>
											</a>
										</li>
	
										<li class="me-3">
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
												<i class="fab fa-pinterest-p" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
												<i class="fab fa-vimeo-v" aria-hidden="true"></i>
											</a>
										</li>
									</ul>
								</li>
							</ul>
							<!-- 탭 목록 end -->
							
							<!--본문 start -->
							<div class="tab-content destinationTab-content" id="destinationTabContent">
								<!-- Overview 본문 start -->
<div class="tab-pane active" id="overView" role="tabpanel" aria-labelledby="overView-tab">
    <div th:each="tourInformation : ${TourInformation}" class="text-center" style="margin-top: 100px;">
        <p style="font-weight: bold; font-size: 20px; color: black; margin-bottom: 30px;"><span style="font-size: 20px;" th:text="${tourInformation.title}"></span></p>
        <p style="font-size: 20px; color: black; margin-bottom: 30px;">사업자명: <span th:text="${tourInformation.telname}"></span></p>
        <p style="font-size: 20px; color: black; margin-bottom: 30px;">전화번호: <span th:text="${tourInformation.tel}"></span></p>
        <p style="font-size: 20px; color: black; margin-bottom: 30px;">주소: <span th:text="${tourInformation.addr1}"></span></p>
        <p style="font-size: 20px; color: black; margin-bottom: 30px;">홈페이지: <span th:text="${tourInformation.homepage}"></span></p>
        <p style="font-size: 20px; color: black; margin-bottom: 50px;"><img th:src="${tourInformation.firstimage}"
        onerror="this.onerror=null;this.src='/user/img/존재하지않는이미지.jpg';"></p>
        <p style="font-size: 20px; color: black; margin-bottom: 20px; line-height: 1.5;"><span th:text="${tourInformation.overview}"></span></p>

        <hr style="margin-bottom: 100px;"/>
    </div>
</div>


								<!-- Overview 본문 end -->
								<!-- 리뷰 리스트 start -->
								<div class="tab-pane" id="tourGuide" role="tabpanel" aria-labelledby="tourGuide-tab">
								    <div class="row">
										<div class="center"> <!-- 가운데 정렬을 적용합니다. -->
										    <div id="averageStarPoint">평균 별점: </div>
										    <div id="averageRatingStarsContainer" class="rating-stars-avg"></div>
										    <span id="averageRatingText" class="rating-text"></span> <!-- 리뷰 평점 텍스트의 크기를 조절합니다. -->
										</div>
										<div class="center-cnt">
										    <span id="reviewCount" class="review-cnt-text">리뷰 개수: </span>
										</div>
							    		<div class="separator1"></div> <!-- 굵은 직선 추가 -->
										<div class="separator2"></div> <!-- 굵은 직선 추가 -->

									<div class="button-container d-flex justify-content-between">
									    <div class="recommend-dropdown">
									        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">추천순</button>
									        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									            <li><a class="dropdown-item" href="#">최신순</a></li>
									            <li><a class="dropdown-item" href="#">좋아요순</a></li>
									            <li><a class="dropdown-item" href="#">오래된순</a></li>
									        </ul>
									    </div>
									
									    <div class="write-btn-container ml-auto">
									        <!-- ml-auto 클래스를 추가하여 버튼을 오른쪽으로 정렬합니다 -->
									        <a th:href="@{/user/review/write(contentId=${contentId})}"><button type="button" class="btn btn-outline-primary btn-sm">작성하기</button></a>
									    </div>
									</div>
									

									<div class="review-container text-container">
								            <!-- 이 곳에 리뷰가 표시될 것입니다 -->
								        </div>
								    </div>
								</div>
								<!-- 리뷰 리스트 end -->
      </div>
    </div>
  </div>
</section>

 <!-- ====================================
    ——— MODAL SECTION
    ===================================== -->
    <!-- Signup Modal -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-label="signupModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header rounded">
            <h3 class="modal-title text-uppercase font-weight-bold">Create your account</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form class="" action="index.html" method="post">
              <div class="mb-3">
                <input type="text" class="form-control bg-smoke" required="" placeholder="Full Name">
              </div>

              <div class="mb-3">
                <input type="email" class="form-control bg-smoke" required="" placeholder="Email">
              </div>
    
              <div class="mb-3">
                <input type="password" class="form-control bg-smoke" required="" placeholder="Password">
              </div>
    
              <div class="mb-3 form-check mb-0">
                <input type="checkbox" class="form-check-input" id="exampleCheck4">
                <label class="form-check-label text-gray-color mb-3" for="exampleCheck4">
                  I agree to the terms of use and privacy.
                </label>
              </div>

              <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Login</button>
              </div>

              <div class="text-uppercase text-center py-3">Or</div>

              <div class="d-grid">
                <button type="submit" class="btn btn-facebook btn-block text-uppercase text-white">Login with facebook</button>
              </div>
            </form>
          </div>
    
          <div class="modal-footer justify-content-center">
            <p class="mb-1">Don’t have an Account? <a href="javascript:void(0)">Sign up</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-label="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header rounded">
            <h3 class="modal-title text-uppercase font-weight-bold">Log in to your account</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form class="" action="index.html" method="post">
              <div class="mb-3">
                <input type="email" class="form-control bg-smoke" required="" placeholder="Email">
              </div>

              <div class="mb-3">
                <input type="password" class="form-control bg-smoke" required="" placeholder="Password">
              </div>

              <div class="mb-3 form-check mb-0">
                <input type="checkbox" class="form-check-input" id="exampleCheck5">
                <label class="form-check-label text-gray-color mb-3" for="exampleCheck5">
                  Remember me
                </label>
                <a class="pull-right" href="javascript:void(0)">Fogot Password?</a>
             </div>

             <div class="d-grid">
              <button type="submit" class="btn btn-primary text-uppercase">Login</button>
             </div>

              <div class="text-uppercase text-center py-3">Or</div>

              <div class="d-grid">
                <button type="submit" class="btn btn-facebook text-uppercase text-white">Login with facebook</button>
               </div>
            </form>
          </div>

          <div class="modal-footer justify-content-center">
            <p class="mb-1">Don’t have an Account? <a href="javascript:void(0)">Sign up</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- INQUIRY IN MODAL -->
    <div class="modal fade" id="inquiry" tabindex="-1" role="dialog" aria-label="inquiryModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header rounded">
            <h3 class="modal-title text-uppercase font-weight-bold">Inquiry about tour</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body pb-3">
            <form class="" action="index.html" method="post">
              <div class="mb-3">
                <input type="text" class="form-control bg-smoke" required="" placeholder="Your Name">
              </div>

              <div class="mb-3">
                <input type="email" class="form-control bg-smoke" required="" placeholder="Your Email">
              </div>
    
              <div class="mb-3">
                <input type="number" class="form-control bg-smoke" required="" placeholder="Phone Number">
              </div>

              <div class="mb-3">
                <textarea class="form-control bg-smoke" rows="6" placeholder="Message"></textarea>
              </div>
    
              <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
    				<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">신고하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
<form id="reviewReportForm" action="/user/destination/tourCheckDetails" method="POST" enctype="multipart/form-data">
    <div>
        <input type="hidden" id="reviewCodeInput" name="reviewReportReviewCode" readonly>
    </div>
    <div>
        <span class="report-text">신고 리뷰 내용</span>
        <textarea class="form-control" id="review-text" disabled></textarea>
    </div>
    <span>신고자 아이디 : </span>
    <input type="text" name="reviewReportUserId" th:value="${session.loginId}" data-review-id="${session.loginId}" readonly />
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle px-3" data-bs-toggle="dropdown" aria-expanded="false">
            신고 유형 선택
        </button>
        <ul class="dropdown-menu">
            <th:block th:each="category : ${uReviewReportList}">
                <li>
                    <a class="dropdown-item" th:text="${category.reviewReportCategoryContent}" th:data-category-code="${category.reviewReportCategoryCode}"></a>
                </li>
            </th:block>
        </ul>
    </div>
    <input type="hidden" id="reviewReportCategoryCode" name="reviewReportCategoryCode">
    <input type="hidden" id="contentId" name="contentId" th:value="${contentId}">
    <div class="mb-3">
        <label for="message-text" class="col-form-label">신고내용:</label>
        <textarea class="form-control" id="message-text" maxlength="100" name="reviewReportContent"></textarea>    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="submit" class="btn btn-primary">신고</button>
    </div>
</form>
            </div>
        </div>
    </div>
</div>
    
    
</th:block>

<th:block layout:fragment="customJsFIle">
	<script th:src="@{/user/plugins/owl-carousel/owl.carousel.min.js}"></script>
	<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDU79W1lu5f6PIiuMqNfT1C6M0e_lq1ECY'></script>
</th:block>

<th:block layout:fragment="customJs">


		<script>
		/*
		$(document).ready(function() {
		    $.ajax({
		        url: '/user/review/json',
		        type: 'GET',
		        dataType: 'json',
		        success: function(data) {
		            console.log(data);
		            displayReviews(data);
		        },
		        error: function(jqXHR, textStatus, errorThrown) {
		            console.error('AJAX 오류 발생:', textStatus, errorThrown);
		        }
		    });
		});
		*/
		
		$(document).ready(function() {
		    let reviewsData, commentsData, reviewFilesData;
	    // Fetch reviews
	    
	    $.ajax({
	        url: '/user/review/json',
	        type: 'GET',
	        dataType: 'json',
	        success: function(data) {
	            // DISCLOSURE_002인 리뷰를 필터링하여 새로운 배열에 저장합니다.
	            let filteredReviewsData = data.filter(review => review.reviewApprove !== 'DISCLOSURE_002');
	            
	            // 업데이트된 리뷰 개수를 업데이트합니다.
	            $('#reviewCount').text('리뷰 개수: ' + filteredReviewsData.length);

	            // 리뷰가 존재하는 경우에만 평균 별점을 계산합니다.
	            if (filteredReviewsData.length > 0) {
	                let totalStarPoints = 0;

	                // 각 리뷰의 별점을 더합니다.
	                filteredReviewsData.forEach(function(review) {
	                    totalStarPoints += review.reviewStarPoint;
	                });

	                // 평균 별점을 계산합니다.
	                let averageStarPoint = totalStarPoints / filteredReviewsData.length;

	                // HTML에 평균 별점을 표시합니다.
	                $('#averageStarPoint').text('평균 별점: ' + averageStarPoint.toFixed(2));

	                // 별 모양으로 평균 별점을 표시합니다.
	                displayRatingWithColor(averageStarPoint, 'averageStarPoint');
	            }

	            // 리뷰 데이터를 업데이트된 필터링된 데이터로 대체합니다.
	            reviewsData = filteredReviewsData;

	            // 리뷰, 코멘트, 리뷰 파일 데이터가 모두 로드된 경우에만 표시합니다.
	            if (commentsData && reviewFilesData) {
	                displayReviewsAndComments(reviewsData, commentsData, reviewFilesData);
	            }
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	            console.error('AJAX 오류 발생:', textStatus, errorThrown);
	        }
	    });

	    // Fetch comments
	    $.ajax({
	        url: '/user/review/comment/json',
	        type: 'GET',
	        dataType: 'json',
	        success: function(data) {
	            commentsData = data;
	            if (reviewsData && reviewFilesData) {
	                displayReviewsAndComments(reviewsData, commentsData, reviewFilesData);
	            }
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	            console.error('AJAX 오류 발생:', textStatus, errorThrown);
	        }
	    });
	    
	    // Fetch review files
	    $.ajax({
	        url: '/user/review/file/json',
	        type: 'GET',
	        dataType: 'json',
	        success: function(data) {
	            reviewFilesData = data;
	            if (reviewsData && commentsData) {
	                displayReviewsAndComments(reviewsData, commentsData, reviewFilesData);
	            }
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	            console.error('AJAX 오류 발생:', textStatus, errorThrown);
	        }
	    });
	});

	// 별점을 표시하는 함수
	function displayRatingWithColor(rating, containerId) {
	    const ratingStarsContainer = document.getElementById(containerId);
	    ratingStarsContainer.innerHTML = ''; // 기존의 내용을 지웁니다.

	    const integerPart = Math.floor(rating); // 정수 부분
	    const decimalPart = rating - integerPart; // 소수 부분

	    for (let i = 0; i < 5; i++) {
	        const star = document.createElement('span');
	        star.textContent = '★'; // 텍스트로 별 모양을 추가합니다.
	        star.classList.add('rating-stars-avg'); // 별 모양 요소에 클래스를 추가합니다.
	        if (i < integerPart) {
	            star.style.color = 'orange'; // 정수 부분은 모두 주황색으로 채색합니다.
	        } else if (i === integerPart && decimalPart > 0) {
	            // 소수 부분이 있는 경우 해당 별의 일부만 채색합니다.
	            const gradient = `linear-gradient(to right, orange ${decimalPart * 100}%, #D3D3D3 ${decimalPart * 100}%)`;
	            star.style.backgroundImage = gradient;
	            star.style.webkitBackgroundClip = 'text'; // 텍스트만 그라데이션을 적용합니다.
	            star.style.color = 'transparent';
	        } else {
	            star.style.color = '#D3D3D3'; // 나머지 별은 회색으로 채색합니다.
	        }
	        ratingStarsContainer.appendChild(star);
	    }

	    // 평균 별점 텍스트를 추가합니다.
	    const averageRatingText = document.getElementById('averageRatingText');
	    averageRatingText.textContent = `${rating.toFixed(1)}`;
	}

	function displayReviewsAndComments(reviews, comments, reviewFiles) {
	    let reviewContainer = $('.tab-pane#tourGuide .review-container');
	    

	    reviews.forEach(function(review) {
        // DISCLOSURE_002인 경우 리뷰를 표시하지 않습니다.
        if (review.reviewApprove === 'DISCLOSURE_002') {
            return; // 해당 리뷰를 건너뜁니다.
        }
	        let listItem = $('<div>').addClass('review');
	        
	        
	        // 작성자 아이디
	        let reviewId = $('<p>').text(review.reviewId).addClass('review-id');
	        listItem.append(reviewId);
	        
	     // 리뷰 코드를 데이터 속성으로 추가
	        let reviewCode = review.reviewCode;;
	        //let reviewCode = $('<p>').text(review.reviewCode).addClass('review-code');
	        //listItem.append(reviewCode); //계속 undefin이 나옴
	        listItem.attr('data-review-code', reviewCode);
	        
	        // 리뷰 작성일
	        let reviewDateText = review.reviewDate;
	        let reviewDate = $('<span>').text(reviewDateText).addClass('review-date');
	        listItem.append(reviewDate);

	        // 수정일자가 null이 아닌 경우에만 출력
	        if (review.reviewModifyDate !== null) {
	            let reviewModifyDateText = '(수정된 리뷰 ' + review.reviewModifyDate + ')';
	            let reviewModifyDate = $('<span>').text(reviewModifyDateText).addClass('review-modify-date');
	            listItem.append(reviewModifyDate);
	        }
	        
	        // 별점
	        let starsContainer = $('<div>').addClass('stars-container');
	        for (let i = 0; i < 5; i++) {
	            let starText = review.reviewStarPoint > i ? '★' : '☆';
	            let starElement = $('<span>').text(starText).addClass(review.reviewStarPoint > i ? 'yellow-star' : '');
	            starsContainer.append(starElement);
	        }
	        listItem.append(starsContainer);
	        
	        // 리뷰 내용
	        let reviewContent = $('<div>').text(review.reviewContent).addClass('review-content');
	        listItem.append(reviewContent);

	     // 리뷰 파일 이미지 추가
	        let relatedFiles = reviewFiles.filter(file => file.reviewCode === review.reviewCode);
	        if (relatedFiles.length > 0) {
	            // 스크립트 코드의 이름을 #package-slider2로 변경합니다.
	            let fileContainer = $('<div>').attr('id', 'package-slider2').addClass('owl-carousel owl-theme review-file-slider review');
	            relatedFiles.forEach(function(file) {
	                if (file.reviewFilePath !== 'null') {
	                    let imgElement = $('<img>').attr('src', `/${file.reviewFilePath.replace(/\\/g, '/')}`).addClass('review-file-image');
	                    let item = $('<div>').addClass('item').append(imgElement);
	                    fileContainer.append(item);
	                }
	            });
	            listItem.append(fileContainer);

	            // Owl Carousel 초기화
	            fileContainer.owlCarousel({
	                items: 1,
	                loop: true,
	                margin: 10,
	                nav: true,
	                lazyLoad: true
	            });
	            
	         //	fileContainer에 클래스 추가
	            //fileContainer.addClass('package-slider owl-theme');

	            // Owl Carousel의 네비게이션에 클래스 추가
	            //fileContainer.find('.owl-nav [class*=owl-]').addClass('custom-owl-nav');
	        }

	        // 좋아요 버튼
	        let likeButton = $('<button>').addClass('btn btn-outline-primary btn-sm like-button button-text');
	        if (review.reviewLike && review.reviewLike !== 0) {
	            likeButton.text('♥ 좋아요 (' + review.reviewLike + ')');
	        } else {
	            likeButton.text('좋아요(0)');
	        }
	        listItem.append(likeButton);

	        // 싫어요 버튼
	        let dislikeButton = $('<button>').addClass('btn btn-outline-primary btn-sm dislike-button button-text');
	        if (review.reviewDislike && review.reviewDislike !== 0) {
	            dislikeButton.text('✕ 싫어요 (' + review.reviewDislike + ')');
	        } else {
	            dislikeButton.text('싫어요(0)');
	        }
	        listItem.append(dislikeButton);
	        
	        // 모달을 트리거하는 버튼 생성
	        let reportButton = $('<button>').addClass('btn btn-outline-danger btn-sm report-button').attr({
	            'type': 'button',
	            'data-bs-toggle': 'modal',
	            'data-bs-target': '#staticBackdrop'
	        }).text('신고하기');
	        listItem.append(reportButton);

	        // 관련 코멘트 추가
	        let relatedComments = comments.filter(comment => comment.commentReviewCode === review.reviewCode);
	        if (relatedComments.length > 0) {
	            let commentSection = $('<div>').addClass('comment-section');
	            relatedComments.forEach(function(comment) {
	                let commentWrapper = $('<div>').addClass('comment-wrapper'); // 코멘트와 날짜를 감싸는 div
	                let commentId = $('<div>').text(comment.commentId).addClass('comment-id');
	                let commentDate = $('<span>').text(comment.commentDate).addClass('comment-date');
	                let commentContent = $('<div>').text(comment.commentContent).addClass('comment-content');
	                
	                commentWrapper.append(commentId);
	                commentWrapper.append(commentDate);
	                commentSection.append(commentWrapper);
	                commentSection.append(commentContent);
	            });
	            listItem.append(commentSection);
	        }

	        // 리뷰와 리뷰 사이에 선을 추가합니다.
	        let separator = $('<div>').addClass('separator3');
	        reviewContainer.append(listItem);
	        reviewContainer.append(separator);
	    });
            
        }

		$(document).on('click', '.report-button', function(event) {
		    // 클릭된 신고 버튼이 속한 리뷰의 정보를 가져옴
		    let listItem = $(event.target).closest('.review');
		    let reviewContent = listItem.find('.review-content').text();
		    let reviewCode = listItem.data('review-code');
		    
		    console.log("Review Code:", reviewCode); // 리뷰 코드를 콘솔에 출력하여 확인
		
		    // 가져온 정보를 모달에 채움
		    $('#review-text').text(reviewContent); // 리뷰 내용을 넣음
		    $('#message-text').val(""); // 다른 정보를 넣을 거면 해당 정보로 초기화
		    $('#reviewCodeInput').val(reviewCode); // 리뷰 코드를 넣음
		});
		
</script>

		<script th:inline="javascript">
		$(document).ready(function() {
		    // 드롭다운 메뉴에서 항목을 클릭할 때 값 할당
		    $('.dropdown-menu').on('click', '.dropdown-item', function(event) {
		        // 클릭된 항목의 데이터 속성에서 카테고리 코드를 가져옵니다.
		        const categoryCode = $(this).data('category-code');
		        
		        // contentId를 숨겨진 필드에서 가져옵니다.
		        const contentId = $('#contentId').val();
		        console.log("Content ID:", contentId);
		        
		        // 콘솔에 categoryCode 값을 출력합니다.
		        console.log("Selected Category Code:", categoryCode);
		        
		        // 숨겨진 필드에 해당 값을 할당합니다.
		        $('#reviewReportCategoryCode').val(categoryCode);
		        
		        
		        // 버튼 부분에 선택된 값 표시
		        const selectedText = $(this).text();
		        $('.dropdown-toggle').text(selectedText);
		    });
		});

		    
		/*     // 드롭다운에서 항목을 클릭할 때 숨겨진 필드에 해당 값 할당
		    document.querySelectorAll('.category-option').forEach(item => {
		        item.addEventListener('click', event => {
		            const categoryCode = event.target.getAttribute('data-category-code');
		            document.getElementById('reviewReportCategoryCode').value = categoryCode;
		        });
		    });
		     */
		
		    
		/*     $(document).ready(function() {
		        // 리뷰 신고 버튼 클릭 이벤트
		        $('.review-container').on('click', '.report-button', function() {
		            // 클릭된 신고 버튼이 속한 리뷰의 코드 값을 가져옵니다.
		            let reviewCode = $(this).closest('.review').data('review-code');
		
		            // 모달 폼에 리뷰 코드를 삽입합니다.
		            $('#reviewCodeInput').val(reviewCode);
		        });
		    }); */
		</script>
        
	</th:block>
</html>